# Dependencies
**/node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / Build
dist/
build/
.vercel
node_modules/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache and OS Files
.cache/
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git LFS (If used)
# *.png
# *.jpg
# *.jpeg
# *.gif
# *.svg
# *.webp
